// sidebar
$menuText:#bfcbd9;
$menuTextDefalut:#000;
$menuActiveText:#000;
$subMenuActiveText:#000; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#fff;
$menuBgDefalut:#fff;

$subMenuBg:#fff;
$subMenuHover:#fff;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuTextDefalut: $menuTextDefalut;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuBgDefalut: $menuBgDefalut;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
