// required for "~element-ui/packages/theme-chalk/src/index"
$--font-path: '~element-ui/lib/theme-chalk/fonts';

/**
 * Element theme options
 * See https://element.eleme.io/#/en-US/theme
 *
 * For example...
 *
 * ------------------------ BEGIN ------------------------
 */
$--border-color-base: #DADBDE;
$--color-warning: #DB9200;
$--color-black: #00171F;
$--color-primary: #225577;
$--color-text-regular: #2A2B2E;
$--border-color-light: #E6EAE7;
$--color-success: #2DA96B;
$--color-info: #96BDCA;
$--color-text-primary: #00171F;
$--border-color-lighter: #EFF1EF;
$--border-color-extra-light: #F7F8F7;
$--color-text-placeholder: #D0E1E7;
// ------------------------ END ------------------------

@import '~element-ui/packages/theme-chalk/src/common/var.scss';

// sidebar
$menuText: #bfcbd9;
$menuActiveText: #409eff;
$subMenuActiveText: $menuText;

$menuBg: $--color-primary;
$menuHover: lighten($--color-primary, 10%);

$subMenuBg: #1f2d3d;
$subMenuHover: $--border-color-lighter;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
